altair==5.1.2
cachetools==5.3.2
cloudpathlib==0.16.0
colorama==0.4.6
fonttools==4.44.0
ipython==8.18.1
langcodes==3.3.0
Levenshtein==0.23.0
markdown-it-py==3.0.0
markdownlit==0.0.7
numpy==1.26.1
pandas==2.1.2
pandocfilters==1.5.0
plotly==5.18.0
pyarrow==14.0.1
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pyecharts==2.0.4
python-dateutil==2.8.2
python-Levenshtein==0.23.0
pyzmq==25.1.2
requests==2.31.0
simplejson==3.19.2
smmap==5.0.1
st-annotated-text==4.0.1
stack-data==0.6.3
streamlit==1.31.0
streamlit-echarts==0.4.0
streamlit-elements==0.1.0
streamlit-option-menu==0.3.12
streamlit-server-state==0.17.1
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamviz==5.1
