altair==5.1.2
altgraph==0.17.4
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
cachetools==5.3.2
click==8.1.7
cloudpathlib==0.16.0
colorama==0.4.6
fonttools==4.44.0
frozendict==2.3.9
gitdb==4.0.11
GitPython==3.1.40
ipython==8.18.1
langcodes==3.3.0
Levenshtein==0.23.0
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
markdownlit==0.0.7
numpy==1.26.1
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
peewee==3.17.0
pefile==2023.2.7
Pillow==10.1.0
platformdirs==4.1.0
Plost==0.2.5
plotly==5.18.0
preshed==3.0.9
prettytable==3.9.0
prompt-toolkit==3.0.41
pyarrow==14.0.1
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
pyecharts==2.0.4
Pygments==2.16.1
pymdown-extensions==10.3.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-decouple==3.8
python-Levenshtein==0.23.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.30.2
requests==2.31.0
rich==13.6.0
rpds-py==0.12.0
setuptools==68.0.0
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
spacy==3.7.2
st-annotated-text==4.0.1
stack-data==0.6.3
streamlit==1.31.0
streamlit-aggrid
streamlit-echarts==0.4.0
streamlit-elements==0.1.0
streamlit-option-menu==0.3.12
streamlit-server-state==0.17.1
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamviz==5.1
urllib3==2.0.7
validators==0.22.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.9
yesg==2.1.1
yfinance==0.2.36
zipp==3.17.0
